<!DOCTYPE html>
<html>
<head>
	<title>Hex Wars</title>
	<link rel="stylesheet" href="./style.css" />
</head>
<body>
	<div id="app" v-cloak>
		<div id="hover-display-container">
			<div id="hover-display" v-if="activeHex" :set="h = activeHex" :foo="u = activeUser">
				<div>({{ h.q }}, {{ h.r }}, {{ h.s }})</div>
				<div>Development: {{ h.points }} points</div>
				<div>
					Owner:
					<span v-if="u">{{ u.username }} ({{ u.points }} points)</span>
					<span v-else>None</span>
				</div>
				<!-- <div>House: Bar (Y points)</div> -->
			</div>
		</div>

		<div id="hex-grid" :style="gridStyle">
			<div
				class="hex"
				v-for="(hex, key) in hexes"
				@mouseover="hoverHex(hex)"
				@mouseleave="unhoverHex"
				@click="clickHex(hex)"
				:style="hex.style"
				:key="key"
			>
				<!-- Empty -->
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue@3"></script>
	<script src="./script.js"></script>
</body>
</html>