
[v-cloak] {
	display: none;
}

#hover-display-container {
	height: 40px;
}

#hex-grid {
	position: relative;
	height: 100vh;
	width: 100%;
}

.hex {
	position: absolute;
	text-align: center;
}

.hex,
.hex::before,
.hex::after {
	width: 67px;
	height: 116px; /* height = width * 1.732 */
}

.hex::before,
.hex::after {
	background-color: inherit;
	content: "";
	position: absolute;
	left: 0;
}

.hex::before {
	transform: rotate(-60deg);
}

.hex::after {
	transform: rotate(60deg);
}
