[v-cloak] {
	display: none;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
		font-weight: bold;
	}
} */

i {
	font-size: 24px !important;
}

#hover-menu-container {
	height: 40px;
}

#click-menu {
	position: absolute;
	z-index: 10;
}

#click-menu > div {
	position: absolute;
	transform: translate(-12px, -12px);
}

#click-menu i:hover {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#click-menu > #center {
	top: 58px;
	left: 33.5px;
}

#click-menu > #top-right {
	top: 32px;
	left: 59.5px;
}

#click-menu > #bottom-right {
	top: 84px;
	left: 59.5px;
}

#click-menu > #top-left {
	top: 32px;
	left: 7.5px;
}

#click-menu > #bottom-left {
	top: 84px;
	left: 7.5px;
}

#hex-grid {
	position: relative;
	height: 100vh;
	width: 100%;
}

.hex {
	position: absolute;
	text-align: center;
}

.hex:hover {
	cursor: pointer;
	/* opacity: 0.75; https://stackoverflow.com/questions/5770341/i-do-not-want-to-inherit-the-child-opacity-from-the-parent-in-css */
}

.hex,
.hex::before,
.hex::after {
	width: 67px;
	height: 116px; /* height = width * 1.732 */
}

.hex::before,
.hex::after {
	background-color: inherit;
	content: "";
	position: absolute;
	left: 0;
}

.hex::before {
	transform: rotate(-60deg);
}

.hex::after {
	transform: rotate(60deg);
}
